@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
}
.indi{
    outline: none;
    border: none;
}
.diskon{
    background: linear-gradient(94.62deg, #0780EC 9.37%, #08B0E5 115.67%);
    border-radius: 22px;
    color: #fff;
}
.zego{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
/* identical to box height */


color: #3C3C53;
}
